
body{
    margin: 0px;
    padding: 0px;
    height:100%;
    background-color:#fefefe;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    
}
ul{
    margin-left:125px;
    margin-right:125px;
    list-style-type: none;
    color:#000000;
    font-weight: lighter;
}
header{
    color: #fefefe;
    background-image:url("gradient1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center; 
    font-size: 30px;
}
h2{
    margin-top: 30px;
    margin-left:165px;
    margin-right:165px;
    color:#000000;
    font-size: 35px;
}
h3{
    margin-left:165px;
    margin-right:165px;
    color:#000000;
    font-size: 25px;
}
p{
    margin-left:165px;
    margin-right:165px;
    color:#000000;
    font-weight: lighter;
    
}
footer{
    position: relative;
    background-image:url("gradient1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 30px;
    text-align: center;
    color: #fefefe;
    font-weight: 400;
    font-size: 15px;
    padding: 50px;


    
}

.navi1{
    padding-right: 50px;
    position: relative;
    list-style-type: none;
    display: inline-block;
    border: none;

   

}
nav a {
    position: relative;
    text-decoration: none;
    color:#000000;
    text-align: center; 
    font-size:40px;
    
}
a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}